@page "/"
@page "/dashboard"
@inject IUserService UserService
@inject NavigationManager NavigationManager

<h1 class="h3 mb-4">Dashboard</h1>

<div class="row">
    <div class="col-md-4">
        <div class="dashboard-card users-card">
            <div class="card-icon">
                <i class="bi bi-people-fill"></i>
            </div>

            <div class="card-content">
                <div class="card-value">@totalUsers</div>
                <div class="card-label">Total Users</div>
            </div>

        </div>
    </div>
</div>

@code {
    private int totalUsers = 0;
    private bool isLoading = true;
    private string? errorMessage;

    protected override async Task OnInitializedAsync()
    {
        await LoadUsersAsync();
    }

    private async Task LoadUsersAsync()
    {
        try
        {
            isLoading = true;
            errorMessage = null;
            totalUsers = await UserService.GetDashboardSattsAsync();
        }
        catch
        {
            errorMessage = "Unable to load users.";
        }
        finally
        {
            isLoading = false;
        }
    }
}